:root {
    --toggler-size: 30px;
    --toggler-line-number: 3;
    --toggler-line-size: calc(var(--toggler-size) / (var(--toggler-line-number) + var(--toggler-line-number) - 1));
    --blue: #1595BA;
    --orange: #F16C20;
    --white: #ffffff;
}

$total: 3;

.sidebar,
.content {
  transition: all .25s ease-out;
}

.sidebar {
  width: 100%;
  transform: translateX(calc(100% * -1));
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menubar-container {
    margin-top: 5rem;
    margin-left: 2rem;
}

.menu {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 1rem;
}

.menu__link {
    color: var(--white);
    font-weight: 100;
    text-decoration: none;
    font-size: 5rem;
    transition: all .25s ease-out;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    &:hover,
    &:focus,
    &:active {
        background-color: var(--orange);
    }
    svg {
        margin-right: 15px;
    }
}

.menu-toggler {
  border-radius: calc(var(--toggler-line-size) / 2);
  display: block;
  width: var(--toggler-size);
  height: var(--toggler-size);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggler__line {
  height: var(--toggler-line-size);
  background: var(--white);
  position: absolute;
  border-radius: calc(var(--toggler-line-size) / 2);
  left: 0;
  right: 0;
  transition: all .25s ease-out;
  
  $num: 1;
  @while $num <= $total {
    &:nth-child(#{$num}) {
      top: calc(var(--toggler-line-size) * #{$num} + (var(--toggler-line-size) * (#{$num} - 2)));
    }
    $num: $num + 1;
  }    
}

.input-checkbox {
  position: absolute;
  left: -100%;
  
  &:checked ~ .menu-toggler {    
    .menu-toggler__line:not(:first-child):not(:last-child) {
      opacity: 0;
    }
    
    .menu-toggler__line:first-child,
    .menu-toggler__line:last-child {
      background-color: var(--white);
    }      
    
    .menu-toggler__line:first-child {
      transform: translateY(calc(var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(45deg);
    }
    
    .menu-toggler__line:last-child {
      transform: translateY(calc(-1 * var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(-45deg);
    }
  }
  
  &:checked ~ .sidebar {
    transform: translateX(0);
  }
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
    
.image {
    width: 450px;
    border-radius: 50%;
}
    
.name {
    color: var(--white);
    background-color: var(--orange);
    font-weight: 300;
    text-decoration: none;
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}


@media screen and (max-width: 900px) {
    .sidebar {
        flex-direction: column;
    }
    .image-container {
        margin-top: 40rem;
    }
    .menubar-container {
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .image {
        width: 300px;
    }
    .menu__link {
        font-size: 4rem;
    }
    .image-container {
        margin-top: 25rem;
    }
    .name {
        font-size: 3rem;
    }
}

@media screen and (max-width: 375px) {
    .name {
        font-size: 2.5rem;
    }
    .image {
        width: 250px;
    }
    .menu__link {
        font-size: 3rem;
    }
    .image-container {
        margin-top: 18rem;
    }
}
